html, body {
  height: 100%;
  width: 100%;
}

.chart {
  margin: auto;
  background-color: transparent;
  position: relative;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  opacity: 1;
  transition: opacity 300ms;
}

.node.defocused {
  opacity: 0.3;
}